*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}
body{
    background: linear-gradient(135deg, #ffecd2, #fcb69f);
    color: #333;
    text-align: center;
}
header{
    background: linear-gradient(90deg, #ff6a00, #ee0979);
    color: white;
    padding: 60px, 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    
}
 header h1{
    font-size: 2.5em;
    margin-bottom: 10px;

}
header p{
    font-size: 1.2em;
}
nav {
    background: #222;
}
nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
}
nav li{
    margin: 10px 20px;
}
nav a{
    color: white;
    text-decoration: none;
    padding: 12px 25px;
    border-radius: 20px;
    transition: 0.3s;
    font-weight: bold;
}
nav a:hover{
    background: #ff6a00;
    transform: scale(1.1);
}
.intro{
    background: white;
    padding: 60px 20px;
    border-bottom: 5px solid #ff6a00;
}
.intro h2{
    color: #ee0979;
    font-size: 2em;
    margin-bottom: 5px solid #ff6a00;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 60px 20px;
}
.card {
    background: white;
    width: 300px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s box-shadow 0.3s;
}
.card:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}
.card img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.card h3{
    color: #ee0979;
    padding: 0 15px;
    margin: 10px 0 20px;
}
.card p{
    color: #555;
    padding: 0 15px;
    margin: 10px 0 20px;
}
.card button{
    background: #ff6a00;
    color: white;
    border: 15px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 20px;
    transition: 0.3s;
}
.card button:hover{
    background: #ee0979;
    transform: scale(1.05);
}
footer{
    background: #222;
    color: white;
    padding: 25px 20px;
    font-size: 0.9em;
    margin-top: 40px;
    
}
@media(max-width: 786px){
    nav ul{
        flex-direction: column;

    }
    .cards{
        flex-direction: column;
        align-items: center;
    }
    header h1{
        font-size: 2em;
    }
}